body {
    background-color: #0f0f0f;
    color: #ffffff;
    font-family: Cascadia Code;
    font-size: 1.69vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

hr {
    border-style: solid;
}

.flip {
    display: inline-block;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}