::selection {
    background-color: rgb(170, 170, 170);
    color: rgb(0, 0, 170);
}

::target-text {
    background-color: rgb(170, 170, 170);
    color: rgb(0, 0, 170);
}

body {
    background-color: rgb(0, 0, 170);
    color: rgb(170, 170, 170);
    font-family: 'Cascadia Code';
    font-size: 1.69vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

hr {
    border-style: solid;
}

.flip {
    display: inline-block;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}